<div class="panel panel-default product-item">
  <div class="panel-heading border">
    <h3 class="panel-title">{{item.name}}</h3>
  </div>
  <div>
    <a href="www.google.com.mx">
      <img src="/assets/images/default-product.png" alt=""  />
    </a>
  </div>
  <div class="panel-body">
    <p>price: {{item.price}}</p>
    {{#if quantity}}
      <a href="#" class="glyphicon glyphicon-minus-sign"></a> quantity: <input class="input-sm quantity-txt" type="textbox" value="{{quantity}}"> <a href="#" class="glyphicon glyphicon-plus-sign"></a>
    {{/if}}
  </div>
  <div class="panel-footer text-left">
    <input type="button" name="btnAddToCart" value="{{btnLabel}}" class="btn btn-large btn-success" {{action 'buttonClicked' item}}>
  </div>
</div>
